.main-top {
  color: $white;
  height: 400px;
  padding: 118px 0;
  background-image: linear-gradient(
      $main-image-linear-gradient,
      $main-image-linear-gradient
    ),
    url(../images/header_background_mobile@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 767px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-top {
      background-image: linear-gradient(
          $main-image-linear-gradient,
          $main-image-linear-gradient
        ),
        url(../images/header_background_mobile@2x.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .main-top {
      background-image: linear-gradient(
          $main-image-linear-gradient,
          $main-image-linear-gradient
        ),
        url(../images/header_background_mobile@3x.jpg);
    }
  }
  @media screen and (min-width: $tablet) {
    max-width: 1199px;
    background-image: linear-gradient(
        $main-image-linear-gradient,
        $main-image-linear-gradient
      ),
      url(../images/header_background_tablet@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .main-top {
        background-image: linear-gradient(
            $main-image-linear-gradient,
            $main-image-linear-gradient
          ),
          url(../images/header_background_tablet@2x.jpg);
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      .main-top {
        background-image: linear-gradient(
            $main-image-linear-gradient,
            $main-image-linear-gradient
          ),
          url(../images/header_background_tablet@3x.jpg);
      }
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 200px 0;
    background-image: linear-gradient(
        $main-image-linear-gradient,
        $main-image-linear-gradient
      ),
      url(../images/header_background_desktop@1x.jpg);
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main-top {
        background-image: linear-gradient(
            $main-image-linear-gradient,
            $main-image-linear-gradient
          ),
          url(../images/header_background_desktop@2x.jpg);
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .main-top {
        background-image: linear-gradient(
            $main-image-linear-gradient,
            $main-image-linear-gradient
          ),
          url(../images/header_background_desktop@3x.jpg);
      }
    }
  }
}

.main-top__slogan {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 365px;
  font-size: 26px;
  line-height: 1.62;
  @media screen and (min-width: $desktop) {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.main-top__button {
  @include button-typeface(700, 1.875, 0.06em);
  margin: auto;
  display: block;
  padding: 10px 42px;
  text-align: center;
  color: $white;
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
