.navigation {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.main-navigation {
  list-style-type: none;
  display: flex;
  gap: 60px;
  @media screen and (min-width: $desktop) {
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.main-navigation__item {
  font-weight: 500;
  letter-spacing: 0.02em;
  &--active {
    @extend .active-page;
  }
}

.header-contact {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 21px;
    font-weight: 500;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-block: 32px;
  }
}

.header-contact__item {
  display: flex;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    gap: 8px;
  }
}
.header-contact__icon {
  @media screen and (min-width: $tablet) {
    width: 14px;
    height: 10px;
    &--right {
      width: 10px;
      height: 14px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 12px;
    &--right {
      width: 10px;
      height: 16px;
    }
  }
}
