.our-strengths {
}

.our-strengths-cards {
  display: block;
  padding-top: 60px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 94px;
    margin-bottom: 0;
    gap: 30px;
  }
}

// .our-strengths-cards {

// }

.our-strengths-card {
  margin-bottom: 30px;
  max-width: 450px;

  @media screen and (min-width: $tablet) {
    max-width: 354px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.our-strengths-card__icon {
  background-color: $vlgrey;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
  padding-block: 25px;

  @media screen and (min-width: $desktop) {
    padding-inline: 100px;
  }
}

.our-strengths-icon {
  width: 70px;
  height: 70px;
}

.our-strengths-card__title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    text-align: left;
  }
}

.our-strengths-card__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $grey;
}
