$white: #fff;
$border-grid: #eee;
$vlgrey: #f5f4fa;
$lgrey: #e5e5e5;
$grey: #757575;
$dgrey: #2f303a;
$vdgrey: #212121;
$black: #000;
$blue: #2196f3;
$header-border: #ececec;
$icon-color-grey: #afb1b8;
$greyrgba: rgba(255 255 255 / 0.6);
$footer-icon-bckgr: rgba(255, 255, 255, 0.1);
$main-image-linear-gradient: rgba(47 48 58 / 0.4);
$what-we-do-background-color: rgba(47 48 58 / 0.8);
$transition-duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$overlay-background-color: rgba(33 150 243 / 0.9);
$modal-background-color: rgba(0 0 0 / 0.1);
$modal-input-border-color: rgba(33 33 33 / 0.2);
$font-family: "Roboto";
